.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0px;
  
    img {
      max-width: 250px;
      height: 250px;
      align-self: center;
      background-color: var(--project-card-bg);
      border-radius: 20px;
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, filter 0.3s ease-in-out;
    }
    img:hover{
      transform: scale(1.1) rotate(1deg);
      filter: brightness(1.2) contrast(1.1);
    }
  
    a {
      width: fit-content;
      text-decoration: none;
      color: #222;
      transition: transform 200ms ease-in-out, opacity 0.3s ease-in-out;
    }
  
    a:hover {
      transform: scale(1.1);
      opacity: 0.9;
    }

    hr{
      margin-top: auto;
      width: 50dvw;
    }
  }
  
  .projectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: auto;
  }
  
  @media (width >= 800px) {
    .projectsContainer {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 0 30px;
    }
  }